.btn {
	display: inline-block;
	border: none;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	border-radius: 0;
	text-align: center;
	position: relative;
	outline: none;
	transition: .35s;
	border: 2px solid transparent;
	&:hover {
		text-decoration: none;
	}

	&-primary {
		color: $white;
		&:hover {
			background-color: $secondary;
			border-color: transparent;
		}
	}

	&-transparent {
		color: $body-color;
		background-color: transparent;
		border: 2px solid $primary;
		&:hover {
			border-color: #303030;
			color: $body-color;
		}
	}

	&-md {
		padding: 10px;
		min-width: 180px;
		min-height: 50px;
		font-size: 1rem;
		letter-spacing: 1.6px;
	}
}

@media only screen and (max-width: 575px) {
	.btn {
		&-md {
			min-width: 150px;
			padding: 5px;
			min-height: 40px;
		}
	}
}

.btn-underline {
	display: inline-block;
	border: none;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 0;
	text-align: center;
	position: relative;
	outline: none;
	transition: .35s;
	border: none;
	border-bottom: 1px solid #424242;

	&-md {
		font-size: 1rem;
		letter-spacing: 1.6px;
		font-weight: 400;
	}

	&-secondary {
		color: $body-color;
	}
}

.btn-arrow {
	transition: 0.3s;
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	text-align: center;

	span {
		font-size: 20px;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.btn-transparent {
		color: $secondary;
		border-color: $secondary;

		&:hover {
			border-color: $secondary;
			color: $primary;
		}
	}

	&-fixed {
		position: fixed;
		bottom: 50px;
		right: 0;
		z-index: 100;
		transform: translate(100%, 0);
	}

	&.btn-visible {
		transform: translate(0, 0);
	}
}

@media only screen and (max-width: 575px) {
	.btn-arrow {
		width: 35px;
		height: 35px;
		span {
			font-size: 16px;
		}

		&-fixed {
			bottom: 0px;
			right: 15px;
			transform: translate(calc(100% + 15px), 0);
		}
	}
}