.pagination {
	flex-direction: column;
	align-items: center;
	.page-item {
		&.active {
			.page-link {
				opacity: 1;
			}
		}

		&:first-child, &:last-child {
			font-size: 1.2rem;
		}
	}

	.page-link {
		border: none;
		opacity: 0.3;
		font-weight: 400;
	}
}

@media only screen and (max-width: 1200px) {
	.pagination {
		flex-direction: row;
		.page-item {
			&:first-child, &:last-child {
				transform: rotate(-90deg);
			}
		}
	}
}