.pagination-starting-point {
	position: relative;
}

.sticky-wrap-pagination {
	position: absolute;
	top: 0;
	right: -110px;
	bottom: 0;
}

.pagination-wrap {
	overflow: hidden;
	position: sticky;
	top: 60px;
	right: 0;
}

.pagination {
	flex-direction: column;
	align-items: center;
	.page-item {
		&.active {
			.page-link {
				opacity: 1;
			}
		}

		&:first-child, &:last-child {
			font-size: 1.2rem;

			.page-link {
				border-radius: 0px;
			}
		}
	}

	.page-link {
		border: none;
		opacity: 0.3;
		font-weight: 400;
		transition: 0.3s;
		&:hover {
			opacity: 1;
		}
	}
}

@media only screen and (max-width: 1400px) {
	.sticky-wrap-pagination {
		right: -60px;
	}
}

@media only screen and (max-width: 1300px) {
	.sticky-wrap-pagination, .pagination-wrap {
		position: static;
	}

	.pagination-wrap {
		padding: 15px 0;
	}

	.pagination {
		flex-direction: row;
		.page-item {
			&:first-child, &:last-child {
				transform: rotate(-90deg);
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.pagination-wrap {
		padding: 10px 0 20px 0;
	}
}