.btn {
	display: inline-block;
	border: none;
	text-decoration: none;
	font-weight: 400;
	border-radius: 0;
	text-align: center;
	position: relative;
	outline: none;
	transition: .35s;
	border: 2px solid transparent;
	&:hover {
		text-decoration: none;
	}

	&-primary {
		color: $white;
	}

	&-md {
		min-width: 150px;
		min-height: 60px;
	}

	&-sm {
		min-width: 200px;
		min-height: 50px;
		font-weight: 700;
		font-size: 0.875rem;
	}

	&-transparent {
		background-color: transparent;
		border-color: $secondary;
		color: $secondary;
	}
}

@media only screen and (max-width: 767px) {
	.btn {
		&-md {
			min-width: 120px;
			min-height: 40px;
			padding: 0.625rem;
		}
	}
}

@media only screen and (max-width: 575px) {
	.btn {
		&-md {
			min-width: 100px;
			min-height: 30px;
			padding: 0.3125rem;
		}
	}
}

.btn-underline {
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
	position: relative;
	outline: none;
	transition: .35s;
	position: relative;
	margin-bottom: 0.625rem;
	line-height: 1.5;

	&:hover {
		&:after {
			width: 100%;
			background-color: $primary;
		}
	}

	&:after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 2px;
		background-color: $secondary;
		position: absolute;
		bottom: 0;
		left: 0;
		transition: 0.3s;
	}

	&-white {
		color: $white;
		&:after {
			background-color: $white;
		}

		&:hover {
			color: $white;
			&:after {
				background-color: $white;
				width: 100%;
			}
		}
	}

	&-lg {
		font-size: 1rem;
	}
}

.btn-arrow {
	transition: 0.3s;
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	text-align: center;

	span {
		font-size: 18px;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&-fixed {
		position: fixed;
		bottom: 30px;
		right: 0;
		z-index: 100;
		transform: translate(100%, 0);
	}

	&.btn-visible {
		transform: translate(0, 0);
	}
}

@media only screen and (max-width: 575px) {
	.btn-arrow {
		width: 35px;
		height: 35px;
		span {
			font-size: 14px;
		}

		&-fixed {
			bottom: 0px;
			right: 15px;
			transform: translate(calc(100% + 15px), 0);
		}
	}
}