.contact-list {
	margin-bottom: 45px;
	li {
		overflow: hidden;
		margin-bottom: 15px;
		margin-bottom: 40px;
	}
	&-item {
		position: relative;
		display: inline-block;
		padding-left: 25px;
		.contact-list-icon {
			position: absolute;
			top: 3px;
			left: 0;
			color: #696969;
		}
	}
}

@media only screen and (max-width: 575px) {
	.contact-list {
		li {
			margin-bottom: 20px;
		}
	}
}