::-webkit-scrollbar-button {
	background-image: url ('');
	background-repeat: no-repeat;
	width: 6px;
	height: 0px;
}

::-webkit-scrollbar-track {
	background-color: $secondary; // Цвет дорожки, по которой двигается бегунок прокрутки
}

::-webkit-scrollbar-thumb {
	border-radius: 0px; // Закругление бегунка
	background-color: $primary; // Цвет бегунка
}

::-webkit-scrollbar-thumb:hover {
	background-color: lighten($primary, 5%); // Цвет бегунка при наведении на него курсора
}

::-webkit-resizer {
	background-image: url('');
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
}

::-webkit-scrollbar {
	width: 10px; // Основная ширина полосы прокрутки
}

// For Internet Explorer
body {
	scrollbar-face-color: $primary;
	scrollbar-track-color: $secondary;
	scrollbar-shadow-color: $primary;
	scrollbar-arrow-color: $primary;
}