.tab-text-content {
	p {
		margin-bottom: 1rem;
	}
}

.nav-pills {
	.nav-link {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		transition: 0.3s;
		&.active {
			&:hover {
				color: $primary;
			}
			.arrow {
				opacity: 1;
				transition: 0.3s;
			}
		}

		&:hover {
			background-color: rgba($secondary, 0.1);
			color: $body-color;
		}

		.main-nav-text {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
		}

		.arrow {
			@include arr(8, 10, $primary, r);
			margin-left: 10px;
			margin-right: 30px;
			opacity: 0;
			display: inline-block;
		}

		.nav-tab-icon {
			font-size: 3.1rem;
			margin-right: 25px;
		}
		.small-title {
			margin-bottom: 0;
		}
	}
}


@media only screen and (max-width: 991px) {
	.nav-pills {
		.nav-link {
			.nav-tab-icon {
				font-size: 2rem;
				margin-right: 10px;
			}

			.arrow {
				margin-right: 15px;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.nav-pills {
		.nav-link {
			.arrow {
				@include arr(10, 8, $primary, b);
			}
		}
	}
}