@media only screen and (max-width: 575px) {
	p {
		margin-bottom: 1rem;
	}
}

.section-descr-title {
	font-size: 3.375rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.3;
	margin-bottom: 3.4375rem;
	padding-right: 30px;
}

@media only screen and (max-width: 991px) {
	.section-descr-title {
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 767px) {
	.section-descr-title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 575px) {
	.section-descr-title {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

.section-title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 1.875rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 0.875rem;

	&-decoration {
		margin-bottom: 2.5rem;
		&:before {
			content: "";
			display: inline-block;
			width: 80px;
			height: 2px;
			background-color: $primary;
			margin-right: 30px;
		}
	}
}

@media only screen and (max-width: 991px) {
	.section-title {
		font-size: 1.5rem;
	}
}

@media only screen and (max-width: 767px) {
	.section-title {
		&-decoration {
			margin-bottom: 2rem;
		}
	}
}

@media only screen and (max-width: 575px) {
	.section-title {
		font-size: 1.2rem;
		&-decoration {
			margin-bottom: 1.5rem;
			&:before {
				width: 50px;
				margin-right: 15px;
			}
		}
	}
}

.text-block {
	padding-right: 60px;
}

@media only screen and (max-width: 767px) {
	.text-block {
		padding-right: 30px;
	}
}

@media only screen and (max-width: 575px) {
	.text-block {
		padding-right: 0px;
	}
}