@import "vars";
@import "mixins";

/* FONTS ================================================ */

/* NORMALIZE ================================================ */

.btn.focus, .btn:focus {
	box-shadow: none;
}

input, select, textarea {
	outline: none;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

a:focus, button:focus {
	box-shadow: none;
	outline: none;
}

a {
	transition: 0.3s;
}

.btn {
	&:focus,
	&:active,
	&:focus:active,
	&:not([disabled]):not(.disabled):active {
		box-shadow: none;
		outline: none;
	}
}

input[type="submit"] {
	cursor: pointer;
}