// SECTION ABOUT US MAIN

.section-about-us-main {
	.about-us-main-text {
		padding-bottom: 150px;
	}
}

@media only screen and (max-width: 991px) {
	.section-about-us-main {
		.about-us-main-text {
			padding-bottom: 0px;
		}
	}
}

// SECTION ABOUT US MAIN END

// SECTION ADVANTAGES

.section-advantages {
	margin-top: -170px;
	&.section {
		padding-top: 0;
	}
}

@media only screen and (max-width: 991px) {
	.section-advantages {
		margin-top: 0px;
	}
}

.welcome-advantages-list-item-lg {
	padding-right: 30px;
	align-items: flex-start;
	.section-title {
		margin-bottom: 0;
		line-height: 1;
	}

	.list-icon {
		margin-right: 20px;
	}
}

.advantages-list-item {
	margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
	.advantages-list-item {
		margin-bottom: 10px;

		.welcome-advantages-list-item-lg {
			margin-bottom: 10px;
		}
	}
}

// SECTION ADVANTAGES END

// SECTION ACHIEVEMENTS

.achievements-item {
	margin-bottom: 2.5rem;
	.achievements-number {
		font-size: 1.875rem;
		margin-bottom: 0.625rem;
		font-weight: 300;
		line-height: 1;
	}

	.achievements-title {
		padding-right: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.achievements-item {
		margin-bottom: 1.5rem;

		.achievements-number {
			font-size: 1.5rem;
		}
	}
}

// SECTION ACHIEVEMENTS END

// SECTION AWARDS

.section-awards {
	&.section {
		padding-bottom: 0;
	}
}

.awards-logo-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.awards-logo {
	max-width: 130px;
	margin-bottom: 60px;
	padding-right: 30px;
	width: 100%;
	img {
		@include img-res;
		filter: gray; /* IE */
		-webkit-filter: grayscale(1); /* Old WebKit */
		-webkit-filter: grayscale(100%); /* New WebKit */
		filter: url(resources.svg#desaturate); /* older Firefox */
		filter: grayscale(100%); /* Current draft standard */
	}
}

// SECTION AWARDS END