// SECTION BLOG INSIDE

.section-blog-inside {
	.blog-inside-main-img {
		margin-bottom: 25px;
	}

	.blog-inside-title {
		padding-right: 30px;
		.small-title {
			margin-bottom: 1.25rem;
		}
	}

	.blog-inside-main-text {
		p {
			margin-bottom: 1.5625rem;
		}
	}

	.follow-block {
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 991px) {
	.section-blog-inside {
		.blog-inside-title {
			padding-right: 15px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.section-blog-inside {
		.blog-inside-main-text {
			p {
				margin-bottom: 1rem;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	.section-blog-inside {
		.blog-inside-main-img {
			margin-bottom: 15px;
		}

		.blog-inside-title {
			padding-right: 0;
			margin-bottom: 10px;
			.small-title {
				margin-bottom: 0rem;
			}
		}
	}
}

.quote-block {
	background-color: #E6E6E6;
	padding: 1.5625rem 2.5rem;
}

@media only screen and (max-width: 767px) {
	.quote-block {
		padding: 1rem;
	}
}

.blog-navigation-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.blog-nav-prev, .blog-nav-next {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;

	&:hover {
		.btn-arrow {
			color: $primary;
		}
	}

	.small-title {
		margin-bottom: 0;
	}
}

.blog-nav-prev {
	padding-right: 0.625rem;
	.btn-arrow {
		margin-right: 1.25rem;
	}
}

.blog-nav-next {
	text-align: right;
	padding-left: 0.625rem;
	.btn-arrow {
		margin-left: 1.25rem;
	}
}

@media only screen and (max-width: 767px) {
	.blog-nav-prev {
		.btn-arrow {
			margin-right: 0.625rem;
		}
	}

	.blog-nav-next {
		.btn-arrow {
			margin-left: 0.625rem;
		}
	}
}

@media only screen and (max-width: 575px) {
	.blog-nav-prev, .blog-nav-next {
		.small-title {
			font-size: 0.85rem;
		}
	}
}

// SECTION BLOG INSIDE END

// SECTION COMMENTS

.section-comments {

	&.section {
		padding-top: 0;
	}
	.section-comments-title {
		.small-title {
			margin-bottom: 3.125rem;
			display: inline-block;
		}
	}
}

@media only screen and (max-width: 767px) {
	.section-comments {
		.section-comments-title {
			.small-title {
				margin-bottom: 2rem;
			}
		}
	}
}

.avatar-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-right: 30px;
	margin-bottom: 10px;

	.small-title {
		flex-basis: 0;
		flex-grow: 1;
	}
}

@media only screen and (max-width: 991px) {
	.avatar-block {
		padding-right: 15px;
	}
}

.avatar-photo-wrap {
	max-width: 60px;
	flex-basis: 60px;
	margin-right: 20px;
	img {
		@include img-res;
	}
}

@media only screen and (max-width: 991px) {
	.avatar-photo-wrap {
		margin-right: 15px;
	}
}

.comment-info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	p {
		margin-bottom: 0;
	}
}

.comment-item {
	margin-bottom: 25px;

	&-answered {
		.comment-text {
			padding-left: 50px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.comment-item-answered {
		.comment-text {
			padding-left: 30px;
		}
	}
}

// SECTION COMMENTS END

// SECTION LEAVE A COMMENT

.section-leave-comment {
	&.section {
		padding-top: 0;
	}
	form {
		width: 100%;
	}

	.form-group {
		width: 100%;
	}

	textarea.form-control {
		min-height: 100px;
		height: 100%;
	}
}

// SECTION LEAVE A COMMENT END